@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply m-0 p-0 box-border
}

body {
    @apply w-full overflow-x-hidden
}

/* Custom Scroll bar CSS */
::-webkit-scrollbar {
    width: 4px;
}


::-webkit-scrollbar-thumb {
    background: #171717;
    border-radius: 3.5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/* Custom CSS */
p {
    @apply font-EB text-base
}

h1 {
    @apply text-2xl mobile:text-3xl laptop:text-4xl font-medium font-robo uppercase
}

h2 {
    @apply text-xl leading-6 tablet:text-3xl tablet:leading-10 font-EB
}

h3 {
    @apply text-xl
}
h4{
    @apply text-xl
}

.button {
    @apply mt-8 rounded font-noto py-4 px-10 text-xl w-fit font-semibold uppercase
}
.button_sm {
    @apply mt-4 rounded font-noto py-4 px-4 text-sm w-fit font-semibold uppercase
}

/* Navbar CSS */
.full_ul {
    @apply tablet:flex bg-white justify-between  text-lg tracking-wider font-medium gap-8 mobile:gap-5 uppercase transition-all duration-1000
}

@media (max-width: 900px) {
    .full_ul {
        @apply absolute justify-start top-0 w-screen h-screen flex-col py-8 px-12
    }
}